.card {
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 6px #00000080;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 3rem;
  height: 200px;
}

.image {
  max-width: 60px;
  height: auto;
}

.name, 
.price {
  text-align: center;
  margin-bottom: .65rem;
}

.name {
  font-size: 1.1rem;
  font-family: 'Oswald';
}

.price {
  font-family: 'Raleway';
}

.addItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  font-family: 'Raleway';
  font-size: 1rem;
  max-width: 50px;
  text-align: center;
  margin: 0 .5rem .65rem;
  border: none;
  border-bottom: .125rem solid #000;
  outline: none;
  padding: .25rem 0;
}

.inputBtn {
  padding: .25rem .5rem;
  border-radius: .5rem;
  border: none;
  cursor: pointer;
  color: #000;
  background: #FFF;
}

.btn {
  font-family: 'Raleway';
  font-size: .75rem;
  font-weight: bolder;
  padding: .5rem 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  color: #FFF;
  background: #000;
}

.btn:hover {
  opacity: .8;
}

@media (min-width: 400px) {
  .image {
    max-width: 80px;
  }
}

@media (min-width: 500px) {
 .image {
    max-width: 100px;
  }
}

@media (min-width: 700px) {
  .card {
    margin: 0;
  }
}

@media (min-width: 1000px) {
 .imgContainer {
    height: 150px;
  }
  
  .image {
    max-width: 60px;
  }
}

@media (min-width: 1200px) {
  .imgContainer {
    height: 200px;
  }

  .image {
    max-width: 100px;
  }
}