.emptyCart,
.checkOutPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.heading,
.cartHeading,
.checkOutHeading {
  font-family: 'Oswald';
  font-size: 2rem;
}

.heading {
  margin-bottom: 1rem;
}

.cartHeading {
  text-align: center;
  padding: 1rem 0;
}

.checkOutHeading {
  text-align: center;
}

.checkOutSubheading {
  font-family: 'Oswald';
  font-weight: 400;
  text-align: center;
  margin: 1rem 0;
}

.btn {
  font-family: 'Raleway';
  font-size: 1.1rem;
  font-weight: bolder;
  padding: .5rem 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  color: #FFF;
  background: #000;
}
 
.btn:hover {
  opacity: .8;
}

.yourCart {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 6px #00000080;
}

.checkOut {
  box-shadow: 0 0 6px #00000080;
  padding: 1rem;
}

.subtotal,
.taxes {
  font-family: 'Raleway';
  margin-bottom: .3rem;
}

.total {
  font-family: 'Oswald';
  margin-bottom: .3rem;
}

@media (min-width: 700px) {
  .yourCart {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .items {
    flex-grow: 2;
  }
}