.nav {
  display: flex;
  justify-content: space-between;
  padding-left: .75rem; 
  box-shadow: 0px 2px 5px #bbbbbb;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoIcon {
  font-size: 1.25rem;
  margin-right: .1rem;
}

.logoText {
  font-family: 'Oswald';
  font-size: 1.65rem;
}

.links {
  display: flex;
  align-items: center;
}

.navLink {
  color: #000;
  text-decoration: none;
  padding: .75rem .5rem;
  font-family: 'Raleway';
  font-size: .9rem;
  font-weight: bolder;
}

.cartLink {
  color: #000;
  text-decoration: none;
  padding: .75rem .5rem;
  font-size: .9rem;
  font-weight: bolder;
}

.navLink:hover,
.cartLink:hover {
  color: #FFF;
  background: #000;
}

.cartItems {
  background: #FF5964;
  padding: .09rem .15rem .09rem;
  border-radius: 50%;
  position: relative;
  top: -.5rem;
  left: -.25rem;
  font-size: .8rem;
}

@media (min-width: 500px) {
  .logoIcon {
    font-size: 2rem;
  }

  .logoText {
    font-size: 2.5rem;
  }

  .navLink,
  .cartLink {
    padding: 1.3rem .75rem;
    font-size: 1.2rem;
  }

  .cartItems {
    padding: .11rem .225rem .11rem;
    top: -.75rem;
    left: -.4rem;
    font-size: .9rem;
  }
}